* {
    margin: auto;
    /* background: #264653; */
}

body {
    background: #264653;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px auto;
    width: 94%;
    cursor: pointer;
    background:#287271;
    color: #2a9d8f;
}

.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #264653;
    padding-top: 10px;
    color: #2a9d8f;
}

.taskList textarea {
    width: 300px;
    margin: 10px 0;
    background: #2a9d8f;
    border: none;
}

.taskList p {
    text-align: center;
    color: #2a9d8f;
}

.subTaskdone {
    color: #f4a261;
    text-decoration: line-through;
}

.status {
    background: #264653;
    width: 100%;
    display: flex;
}

.queue {
    background: #f4a261;
    width: 30%;
    min-height: 250px;
    border-radius: 15px;
}

.development {
    background: #e76f51;
    width: 30%;
    min-height: 250px;
    border-radius: 15px;
}

.done {
    background: #e9c46a;
    width: 30%;
    min-height: 250px;
    border-radius: 15px;
}

.btn {
    background: #e9c46a;
}

.btn :hover {
    color: #e76f51;
}

.com {
    border: #e76f51 solid 3px;
    border-radius: 5px;
    margin: 0 0 5px 100px;
    width: 220px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.com0 {
    /* border: #e9c46a solid 3px; */
    margin-left: 45px;
}

.com1 {
    /* border: #f4a261 solid 3px; */
    /* margin-left: 15px; */
}

.commentShow {
    display: none;
}

.comment {
    border: solid 3px #f4a261;
    margin: 5px 2px 10px 50px;
}

.comment p {
    text-align: left; 
}

/* .comments {
    border: solid 3px #e9c46a;
} */